# Configurações do Banco de Dados
DATABASE_URL="postgresql://encontrei_user:encontrei_senha@localhost:5432/encontrei_db?schema=public"

# JWT
JWT_SECRET="mude-este-segredo-em-producao"

# Servidor
PORT=3000
NODE_ENV=development

# Upload de imagens
UPLOAD_DIR=./uploads
